// Wild Kiwi
$color-primary: #1abc9c;
$color-wk-green: #1abc9c;

$color-teal: #e8f8f5;

$color-gray-light-1: #f9f9f9;
$color-gray-light-2: #e7e7e7;

$color-grey-dark: #aeaeae;
$color-grey-dark-2: #767676;
$color-grey-dark-3: #484848;

$color-gre-alternative: #f7f7f7;

$color-white: #fff;
$color-black: #000;

$color-red: #fa5a5f;

// Med-Sailors
$color-med-blue: #1b4a8b;
$color-med-yellow: #ffdd00;
$color-med-teal: #06babf;
$color-med-light-teal: #88d2d6;
$color-med-bg-teal: #eaf6f8;

$color-yg-light-blue: #03085a;
$color-yg-blue: #020652;
$color-yg-orange: #f58442;

// Font-size
$default-font-size: 1.6rem;

// Grid
$grid-width-desk: 126rem;
$grid-width-laptop: 116rem;
$grid-width-tablet: 70rem;
$grid-width-phone: 32rem;

// Gutters
$gutter-vertical: 6.6rem;
$gutter-horizontal: 1.3rem;
