.footer {
  padding-top: 4rem;

  @include respond(phone) {
    margin-top: -8rem;
  }

  &__social-networks {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    height: 4.1rem;
    border-top: 1px solid rgba($color-grey-dark, 0.4);
    border-bottom: 1px solid rgba($color-grey-dark, 0.4);
    &-box {
      text-align: center;
      background-color: $color-primary;
      & * {
        @include whiteGreen;
        padding: 0.8rem 1rem;

        @include respond(phone) {
          padding: 0.8rem 3.81rem;
        }
      }

      @include respond(phone) {
        float: none;
        text-align: center;
      }
    }
  }

  &__logo {
    &-literal {
      width: 6rem;
    }
  }

  &__trips {
    &-header {
      color: $color-black;
      font-size: 1rem;
      text-transform: capitalize;
      font-family: Nunito-Extrabold;

      &:not(:first-child) {
        padding-top: 1rem;
      }

      &-contact {
        padding: 0rem;
      }
      &--left {
        float: left;

        @include respond(tablet) {
          font-size: 1.1rem;
        }

        @include respond(laptop) {
          padding-right: 5rem;
        }
      }
    }

    &-list {
      list-style: none;
    }

    &-item {
    }

    &-link {
      display: block;
      text-decoration: none;
      color: $color-grey-dark-2;
      font-family: Nunito-Regular;

      @include respond(tablet) {
        font-size: 1.1rem;
      }
    }
    &--left {
      float: left;
      @include respond(phone) {
        display: none;
      }
    }
  }

  &__form {
    width: 39rem;
    &-links {
      &-item {
        text-align: center;
        text-decoration: none;
        font-size: 1rem;
        padding: 1.2rem 3.6rem;
        color: $color-primary;
        border: 1px solid $color-primary;
        @include bigUppercaseText;
        border-radius: 0.5rem;
        &:not(:last-child) {
          margin-right: 1rem;

          @include respond(phone) {
            margin-right: 0rem;
          }
        }

        &:first-child {
          @include respond(tablet) {
            margin-bottom: 1rem;
          }
        }

        &:nth-child(2) {
          padding: 1.2rem 6.1rem;
        }

        @include respond(tablet) {
          display: block;
          width: 19rem;
        }

        @include respond(phone) {
          display: block;
          margin-top: 3rem;
          font-size: 1.8rem;
          padding: 2.5rem 4rem;
        }
      }

      @include respond(phone) {
        padding: 2rem;
        transform: translateY(-20%);
      }
    }

    &-group {
      margin-top: 0.6rem;

      @include respond(tablet) {
        float: left;
      }

      @include respond(phone) {
        padding: 2rem;
      }
    }

    &-input {
      height: 3.5rem;
      width: 18rem;
      margin-bottom: 2rem;
      border: 1px solid $color-gray-light-2;
      border-radius: 3px;

      @include respond(tablet) {
        width: 19rem;
        border: 1px solid $color-primary;
        height: 4.5rem;
        margin-bottom: 0;
      }

      &--big {
        height: 3.5rem;
        width: 18rem;
        border: 1px solid $color-gray-light-2;
        border-radius: 3px;
        &::-webkit-input-placeholder {
          @include placeholder;

          @include respond(phone) {
            padding-left: 3rem;
          }
        }

        @include respond(tablet) {
          border: 1px solid $color-primary;
          width: 19rem;
        }

        @include respond(phone) {
          width: 100%;
          height: 16rem;
          border: 1px solid $color-grey-dark-2;
        }
      }

      &::-webkit-input-placeholder {
        @include placeholder;
      }

      @include respond(phone) {
        width: 100%;
        padding: 4rem;
        border: 1px solid $color-grey-dark-2;
        margin-bottom: 0rem;
        border-radius: 4px;
      }
    }

    &-fields {
      width: 37rem;
      @include respond(phone) {
        margin-top: -5rem;
      }

      @include respond(tablet) {
        & > form {
          max-width: 37rem;
        }
      }
    }
  }

  &-nav {
    &__navigation {
    }

    &__list {
    }

    &__item {
      border-bottom: 1px solid $color-grey-dark-3;
      padding: 2rem;
      display: flex;
      justify-content: space-between;
    }

    &__link {
      text-decoration: none;
      font-family: Nunito-black;
      color: $color-grey-dark-2;
      font-size: 1.5rem;
    }

    &__icon {
      color: $color-grey-dark-2;
    }

    &__copy {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 4rem;
    }

    &__logo {
      width: 8rem;
      height: 8rem;
      display: block;
    }

    &__copy-text {
      flex: 0 0 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    @include respond(tablet) {
      display: none;
    }
    @include respond(laptop) {
      display: none;
    }
    @include respond(desk) {
      display: none;
    }
  }

  &__main-container {
    &:nth-child(2) div {
      @include respond(phone) {
        display: none;
      }
    }
  }
}
