.header {
  /* 95% of the user's view port */
  height: 60rem;
  background-size: cover;
  background-position: top;
  position: relative;
  max-width: 126.666rem;
  margin: 0 auto;

  &__logo-box {
    position: fixed;
    left: 15%;

    @include respond(laptop) {
      left: 5%;
    }

    @include respond(tablet) {
      left: 15%;
      top: 1rem;
    }

    @include respond(phone) {
      left: 5%;
    }
  }

  &__logo {
    &-literal {
      width: 10rem;
      margin-top: -0.7rem;
      @include respond(phone) {
        width: 10rem !important;
      }
    }
  }

  &__nav-button {
    position: fixed;
    top: 1.5rem;
    right: 0;

    &-box-link {
      text-decoration: none;
    }

    & a:nth-child(1) {
      @include respond(phone) {
        display: none;
      }
    }

    @include respond(laptop) {
      right: 6.8%;
    }

    @include respond(tablet) {
      right: 7.5%;
      margin-top: -1rem;
    }

    @include respond(phone) {
      right: 0rem;
      top: 0px;
    }
  }

  &-low-height {
    height: 50vh;
  }

  &__text-box {
    position: absolute;
    top: 35%;
    width: 31.7%;

    @include respond(laptop) {
      left: 6%;
    }

    @include respond(tablet) {
      left: 4.1rem;
    }

    @include respond(phone) {
      top: 20%;
      left: 6%;
      width: 60%;
    }
  }

  &__button-box {
    margin-top: 7.5rem;
    text-align: left;
    margin-right: 18.1rem;

    @include respond(laptop) {
      margin-right: 13.7rem;
    }

    @include respond(tablet) {
      margin-right: 2.2rem;
    }

    @include respond(phone) {
      width: 28.8rem;
      margin-top: 10.5rem;
    }

    &--dest {
      @include respond(phone) {
        margin-top: 18rem !important;
      }
    }

    & a:nth-child(1) {
      display: block;
      margin: 4.5rem 0 1.4rem 0;
      padding: 1.45rem 0rem;
      font-size: 1.38rem;

      @include respond(phone) {
        margin: 0 auto;
        width: 97%;
        background: white;
        color: $color-primary;
        padding: 1.8rem 0rem;
        font-family: Nunito-Black;
        font-size: 1.8rem;
      }
    }
    & a:nth-child(2) {
      display: inline-block;
      font-size: 1.38rem;
      padding: 1.15rem 4.1rem;

      @include respond(tablet) {
        display: inline-block;
      }
    }

    @include respond(phone) {
      text-align: center;
      margin-top: 13rem;
      & a:nth-child(2) {
        display: none;
        font-size: 1rem;
      }
    }
  }

  @include respond(laptop) {
    max-width: 112.666rem;
  }

  @include respond(phone) {
    height: 43rem;
    max-width: 32rem;
  }
}
