.navigation {
  &__nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    padding: 1.2rem;
    height: 6.666667rem;
    transition: all 0.6s ease-in;
    max-width: $grid-width-desk;

    @include respond(tablet) {
      display: none;
    }

    @include respond(laptop) {
      max-width: 112.666rem;
    }
  }
  &__list {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;

    @include respond(phone) {
      transform: translateY(-30rem);
    }
  }

  &__dropdown {
    display: inline-block;
    position: absolute;
    left: 16rem;
    top: 5.3rem;
    padding-top: 1rem;

    @include respond(laptop) {
      left: 18rem;
    }

    @include respond(phone) {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      left: 0;
      top: 0;
      padding-top: 0;
      border-bottom: 1px solid $color-grey-dark;
    }

    &:hover {
      .navigation__dropdown-item {
        display: block;
      }
    }

    &-item {
      display: none;
      padding: 1.7rem 3rem;
      background: white;
      text-align: left;

      @include respond(phone) {
        display: block;
        padding: 1.5rem;
      }

      & > a {
        text-decoration: none;
        font-family: Nunito-Black;
        color: black;
        transition: all 0.1s ease-in;
        font-size: 1.3rem;
        color: $color-grey-dark-2;
        text-transform: capitalize;

        @include respond(phone) {
          font-family: Nunito-Regular;
          font-size: 1.8rem;
          color: #767676;
          text-transform: capitalize;
        }

        &:hover {
          border-bottom: 1px solid gray;
        }
      }
    }
  }

  &__item {
    margin: 1.39rem;
    float: left;

    &:first-of-type {
      margin-right: 5rem;
      margin-left: -1.1rem;
      margin-top: -0.5px;

      @include respond(laptop) {
        margin-right: 1.8rem;
        margin-left: 4.1rem;
      }

      @include respond(tablet) {
        margin-right: 0;
        margin-left: 0;
        margin-top: 1rem;
      }

      @include respond(phone) {
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
      }

      & > a {
        @include respond(phone) {
          color: $color-primary !important;
          font-family: Nunito-Semibold;
          text-transform: uppercase;
        }
      }
    }

    @include respond(laptop) {
      margin: 1rem 0.79rem;
    }

    &:not(:first-child) {
      &:hover {
        border-bottom: 2px solid $color-primary;
        animation: blinkText 0.8s ease-out;
      }
    }

    &:nth-of-type(2) {
      &:hover ~ .navigation__dropdown > .navigation__dropdown-item {
        display: block;
        position: relative;
      }
    }

    @include respond(tablet) {
      float: none;
      visibility: hidden;
    }

    @include respond(phone) {
      float: none;
      visibility: hidden;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.1rem;
      font-family: Nunito-Extrabold;
      padding: 1rem 0.5rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include respond(tablet) {
        font-size: 1.1rem;
      }

      @include respond(phone) {
        display: block;
        padding: 0.8rem 0.5rem;
        font-size: 1.8rem;
        color: $color-grey-dark-2 !important;
        font-family: Nunito-Regular;
        text-transform: capitalize;
      }
    }
  }

  &__logo {
    margin-top: -1rem;
  }

  &__icon {
    color: $color-white;
  }

  &__dark {
    background-color: black;

    @include respond(tablet) {
      padding: 0.5rem 0;
    }
  }

  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1.2rem;
    height: 6.666667rem;
    max-width: 87.25rem;

    &-btn {
      display: none;

      &:checked ~ .navigation-mobile__sub .navigation__item {
        max-height: 24rem;
        visibility: visible;
        list-style: none;
      }

      &:checked
        ~ .navigation-mobile__sub
        .navigation__item
        > .navigation__link {
        color: black;
      }

      &:checked ~ .navigation-mobile__sub {
        background: white;

        @include respond(tablet) {
          margin-left: -9rem;
          margin-top: 1.5rem;
        }

        @include respond(phone) {
          width: 100vh;
          height: 100vh;
          position: absolute;
          left: 0;
          top: 0;
          max-width: 100%;
          padding-top: 10vh;
          margin-top: 0rem;
        }
      }

      &:checked + .navigation-mobile__icon .navigation-mobile__hamburger {
        background: transparent;

        @include respond(phone) {
          z-index: 9999;
          color: black;
        }
      }

      &:checked + .navigation-mobile__icon .navigation-mobile__hamburger:after {
        transform: rotate(-45deg);
      }

      &:checked
        + .navigation-mobile__icon
        .navigation-mobile__hamburger:before {
        transform: rotate(45deg);
      }
      &:checked + .navigation-mobile__icon .navigation-mobile__hamburger:after,
      &:checked
        + .navigation-mobile__icon
        .navigation-mobile__hamburger:before {
        top: 0;

        @include respond(phone) {
          background: black;
        }
      }
    }

    &__icon {
      cursor: pointer;
      position: relative;
      user-select: none;
      transition: all 0.2s ease-out;
    }

    &__hamburger {
      background: white;
      display: block;
      height: 0.5rem;
      margin-left: 2rem;
      position: relative;
      width: 3rem;
      border-radius: 4px;
      margin-top: 2rem;

      @include respond(tablet) {
        margin-left: -3.5rem;
      }

      @include respond(phone) {
        margin-top: 1.1rem;
        margin-right: 0.9rem;
      }
    }

    &__hamburger:before,
    &__hamburger:after {
      background: white;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.3s ease-out;
      width: 100%;
      border-radius: 4px;
    }

    &__hamburger:before {
      top: 1.1rem;
    }

    &__hamburger:after {
      top: -1.1rem;
    }

    &__sub {
      position: absolute;

      @include respond(tablet) {
        margin-top: -70rem;
      }

      @include respond(phone) {
        margin-top: -80rem;
      }
    }

    &__list {
      width: 100%;
      text-align: center;
      list-style: none;
      margin-left: 12%;

      &:nth-child(1) i {
        padding-left: 1.5rem;
        padding-top: 1rem;

        @include respond(phone) {
          padding-top: 0rem;
        }
      }

      @include respond(phone) {
        margin-left: 0;
      }
    }

    &__item {
      float: right;

      @include respond(tablet) {
        float: left;
        margin-left: -1rem;
      }
    }

    &__logo {
      @include respond(tablet) {
        float: left;
        margin-left: 1rem;
      }
      @include respond(phone) {
        float: left;
        margin-left: 1.2rem;
        & > div:nth-of-type(1) {
          width: 8rem !important;
        }
      }
    }

    @include respond(desk) {
      display: none;
    }

    @include respond(laptop) {
      display: none;
    }
  }
}
