.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $color-white;
  padding: 1.6rem 1.2rem;
  font-size: 2rem;
  text-align: center;
  @include bigUppercaseText;

  @include respond(phone) {
    padding: 4rem 15rem;
    display: inline;
    border-radius: 5px;
  }

  &--red {
    background-color: $color-red;
    padding: 0.9rem 2.7rem;
    border-radius: 0.4rem;
  }
  &--red2 {
    background: $color-red;
  }
  &--green {
    background: $color-primary;
    &-footer {
      padding: 1rem 2.5rem;
      font-size: 1rem;
      background: $color-primary;

      @include respond(phone) {
        width: 100%;
        padding: 3rem;
        margin-top: 4rem;
        font-size: 3rem;
        border: 0;
      }
    }
  }
  &--white {
    @include greenWhite;
    padding: 1.6rem 1.2rem;
  }
  &--transparent {
    @include transparentButton;
  }
}
