.feature-box {
  border-radius: 3px;

  &__text-box {
    padding: 12rem 0rem;
    transform: translateY(10rem);

    @include respond(laptop) {
      padding: 1.2rem 0rem;
    }
  }

  &__text {
    font-size: 2.4rem;
    color: $color-white;
    font-family: Nunito-Black;
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  &__description {
    font-family: Nunito-Extrabold;
    font-size: 1.7rem;
    color: $color-white;
    width: 90%;
    margin: 0 auto;

    @include respond(laptop) {
      font-size: 1.3rem;
    }
  }

  @include respond(laptop) {
    height: 24rem;
  }

  @include respond(tablet) {
    &:nth-child(1) {
      margin-bottom: 1.3rem;
    }
  }
}
