.review {
  padding: 10rem 4rem;
  &__stars-box {
    color: #ffd127;
  }

  &__paragraph {
  }

  &__author {
    @include bigCapitalText;
    color: $color-primary;
  }

  @include respond(phone) {
    padding: 0rem 4rem 4rem;
  }
}
