@font-face {
  font-family: "Nexa-Rust-2";
  src: url("./nexa_rust_sans_black-webfont.eot");
  src: url("./nexa_rust_sans_black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("./nexa_rust_sans_black-webfont.woff2") format("woff2"),
    url("./nexa_rust_sans_black-webfont.woff") format("woff"),
    url("./nexa_rust_sans_black-webfont.ttf") format("truetype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("./subset-Nunito-Regular.eot");
  src: url("./subset-Nunito-Regular.eot?#iefix") format("embedded-opentype"),
    url("./subset-Nunito-Regular.woff2") format("woff2"),
    url("./subset-Nunito-Regular.woff") format("woff"),
    url("./subset-Nunito-Regular.ttf") format("truetype"),
    url("./subset-Nunito-Regular.svg#Nunito-Regular") format("svg");
  font-display: fallback;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Black";
  src: url("./subset-Nunito-Black.eot");
  src: url("./subset-Nunito-Black.eot?#iefix") format("embedded-opentype"),
    url("./subset-Nunito-Black.woff2") format("woff2"),
    url("./subset-Nunito-Black.woff") format("woff"),
    url("./subset-Nunito-Black.ttf") format("truetype"),
    url("./subset-Nunito-Black.svg#Nunito-Black") format("svg");
  font-display: fallback;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("./subset-Nunito-SemiBold.eot");
  src: url("./subset-Nunito-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("./subset-Nunito-SemiBold.woff2") format("woff2"),
    url("./subset-Nunito-SemiBold.woff") format("woff"),
    url("./subset-Nunito-SemiBold.ttf") format("truetype"),
    url("./subset-Nunito-SemiBold.svg#Nunito-SemiBold") format("svg");
  font-display: fallback;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nunito-Extrabold";
  src: url("./subset-Nunito-ExtraBold.eot");
  src: url("./subset-Nunito-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("./subset-Nunito-ExtraBold.woff2") format("woff2"),
    url("./subset-Nunito-ExtraBold.woff") format("woff"),
    url("./subset-Nunito-ExtraBold.ttf") format("truetype"),
    url("./subset-Nunito-ExtraBold.svg#Nunito-ExtraBold") format("svg");
  font-display: fallback;
  font-weight: 800;
  font-style: normal;
}
