@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin bigUppercaseText {
  text-transform: uppercase;
  font-family: Nunito-Extrabold;
}

@mixin smallNormalText {
  text-transform: none;
  font-family: Nunito-Regular;
}

@mixin bigCapitalText {
  text-transform: capitalize;
  font-family: Nunito-Extrabold;
}

@mixin greenWhite {
  color: $color-primary;
  background: $color-white;
}

@mixin whiteGreen {
  color: $color-white;
  background: $color-primary;
}

@mixin tertiaryHeading {
  font-family: Nunito-SemiBold;
  font-size: 2rem;
}

@mixin transparentButton {
  background: transparent;
  color: $color-white;
  border: 1px solid $color-white;
}

@mixin greySubtitle {
  color: $color-grey-dark-2;
  text-transform: uppercase;
}

@mixin placeholder {
  color: $color-grey-dark;
  padding-left: 0.5rem;
  text-transform: capitalize;
}

@mixin boldGreen {
  font-size: 3rem;
  color: $color-primary;
}

// Pouya's media query manager
/* 
specified dimensions : 
Mobile (portrait) = 320-768px 
Tablet & Ipads: 768-1024px
Laptop & Desktop >= 1025

$breakpoints paraments: 
- phone 
- tablet 
- laptop
- desk
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    // 320 - 840
    @media (max-width: 48em) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    // 775-1025
    @media (min-width: 48.5em) and (max-width: 64em) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    // 1025-1429
    @media (min-width: 64.1em) and (max-width: 90em) {
      @content;
    }
  }

  @if $breakpoint == laptop15 {
    @media (min-width: 96rem) and (max-width: 116) {
      @content;
    }
  }

  @if $breakpoint == desk {
    // 1442-higher
    @media (min-width: 90em) {
      @content;
    }
  }
}
