.section {
  &-activity {
    max-width: 100.8rem;
    @include centralize;
    margin-top: 8rem;

    @include respond(laptop) {
      max-width: 90.8rem;
    }

    @include respond(tablet) {
      max-width: 70.8rem;
    }

    @include respond(phone) {
      max-width: 30rem;
      margin-top: 4rem;
    }
  }
}
