.section {
  &-get-in-touch {
    max-width: 126rem;
    @include centralize;
    margin-top: 8rem;

    @include respond(laptop) {
      max-width: 100rem;
    }

    @include respond(tablet) {
      max-width: 70rem;
    }

    @include respond(phone) {
      max-width: 30rem;
      margin-top: 3rem;
    }
  }
}
