// the magic of regex again, this is an attribute selector

[class^="section-"] {
  margin-top: 3vh;
}

.section {
  &-tour-banner {
    &-newzealand {
      & > .row {
        border: 1px solid $color-primary;

        @include respond(phone) {
          border: 0px;
        }
      }
    }
    &-australia {
      & > .row {
        border: 1px solid $color-red;

        @include respond(phone) {
          border: 0px;
        }
      }
    }
  }

  &-why-us {
    @include respond(phone) {
      margin-top: 0;
    }
  }

  &-mobile {
    &__watch-trailer {
      @include respond(desk) {
        display: none;
      }

      @include respond(laptop) {
        display: none;
      }

      @include respond(tablet) {
        display: none;
      }

      @include respond(phone) {
        display: block;
        text-align: center;
        padding: 4rem;
      }
    }
  }
}
