.banner-hero {
  height: 50rem;
  color: $color-white;
  border-radius: 3px;

  &__image {
    border-radius: 3px;
  }

  &-2 {
    height: 24rem;
  }
  &__text-box {
    position: absolute;
    width: 40%;
    top: 28%;
    left: 3%;
    max-width: 38rem;

    @include respond(laptop) {
      width: 55%;
      top: 30%;
    }

    @include respond(tablet) {
      width: 85%;
      top: 30%;
      left: 5%;
    }

    &-2 {
      padding-top: 2.2rem !important;
      top: 10%;
      left: 2%;
    }
  }

  &-heading {
    &--main {
      display: block;
      font-size: 3rem;
      line-height: 3.5rem;
      padding-bottom: 1.5rem;
      font-family: Nunito-Black;
      &-2 {
        font-size: 2.5rem;
        padding-bottom: 0rem;
      }
    }
    &--sub {
      font-family: Nunito-Regular;
      font-weight: 300;

      &-2 {
        font-size: 2rem;
      }
    }
  }

  &__button-box {
    padding-top: 4.2rem;
  }
}
