.btn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $color-white;
  padding: 1.65rem 7.4rem;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 3px;
  white-space: pre;
  @include bigUppercaseText;

  &--red {
    background-color: $color-red;
    padding: 1.27rem 4rem;
    border-radius: 0.4rem;
    transform: translateY(-0.5rem);

    @include respond(phone) {
      padding: 1.7rem 2.7rem;
      border-radius: 0rem;
    }
  }
  &--red2 {
    background: $color-red;
  }
  &--green {
    background: $color-primary;
    &-footer {
      padding: 1rem 4.3rem;
      font-size: 1rem;
      background: $color-primary;

      @include respond(tablet) {
        padding: 1rem 4.6rem;
        margin-top: 1.5rem;
        margin-right: 18.1rem;
      }

      @include respond(phone) {
        width: 100%;
        padding: 1.5rem;
        margin-top: 4rem;
        font-size: 2.3rem;
        border: 0;
      }
    }
  }
  &--white {
    @include greenWhite;
    padding: 0.7rem 4.2rem;
  }
  &--transparent {
    @include transparentButton;
    padding: 1.55rem 8.04rem !important;
  }
}
