.featured {
  height: 12.2rem;
  background: black;
  text-transform: uppercase;
  position: relative;

  &__container {
    text-align: center;

    &:first-child h2 {
      font-size: 1.2rem;
    }

    @include respond(laptop) {
      margin-left: 0rem;
    }

    @include respond(tablet) {
      transform: translateY(30%);
      max-width: 60rem;
      margin: 0 auto;
    }

    @include respond(phone) {
      transform: translateY(16%);
      max-width: 30rem;
      margin: 0 auto;
      padding: 0.5rem 2rem;
    }

    &-image {
      display: inline-block;
      padding-right: 2.1rem;
      position: relative;

      &--metro {
        @include respond(desk) {
          width: 18.4rem;
          transform: translateY(30%);
        }
        @include respond(laptop) {
          width: 15.8rem;
          transform: translateY(30%);
        }
        @include respond(tablet) {
          width: 14.3rem;
        }

        @include respond(phone) {
          width: 10.9rem;
          margin-left: 4px;
        }
      }

      &--daily {
        @include respond(desk) {
          width: 24.4rem;
          transform: translateY(51%);
        }
        @include respond(laptop) {
          width: 20.9rem;
          transform: translateY(51%);
        }
        @include respond(tablet) {
          width: 17.3rem;
        }
        @include respond(phone) {
          width: 14.7rem;
          transform: translateY(30%);
        }
      }

      &--west {
        @include respond(desk) {
          width: 23.4rem;
          transform: translateY(30%);
        }
        @include respond(laptop) {
          width: 20rem;
          transform: translateY(30%);
        }
        @include respond(tablet) {
          width: 18.6rem;
        }
        @include respond(phone) {
          width: 19rem;
        }
      }

      &--qual {
      }
    }
  }

  @include respond(phone) {
    display: none;
  }

  @include respond(tablet) {
    display: none;
  }

  &--tablet {
    height: 10rem;
    background: black;
    text-transform: uppercase;
    position: relative;

    &-top {
      padding-left: 2.1rem;

      & h2:nth-child(2) {
        margin-left: 8rem;
      }
    }

    &-float-left {
      float: left;
    }

    &-bottom {
      margin-left: -3.5rem;
      transform: translateY(-40%);
      padding-left: 5.2rem;
    }

    &:nth-child(2) h2 {
      margin-left: 8rem;
    }

    @include respond(desk) {
      display: none;
    }

    @include respond(laptop) {
      display: none;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &--mobile {
    height: 23rem;
    background: black;
    text-transform: uppercase;
    position: relative;

    @include respond(desk) {
      display: none;
    }

    @include respond(laptop) {
      display: none;
    }

    @include respond(tablet) {
      display: none;
    }

    &__heading {
      color: white;
      text-align: left;
      font-family: Nunito-Black;
      padding-left: 5px;
    }

    &-top {
      padding-bottom: 3rem;
      &:nth-child(1) h2 {
        padding-bottom: 2rem;
      }
    }
  }
}
