.includes {
  display: grid;
  grid-template-columns: repeat(4, 18rem);
  grid-template-rows: 5rem 8rem 4rem 8rem 2rem;
  grid-column-gap: 6.8rem;
  font-size: 1.4rem;
  color: $color-grey-dark-3;

  &__title {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 2.2rem;
    &--second {
      font-size: 2.2rem;
      grid-column: 3/5;
      grid-row: 1;
    }
  }

  &__icon {
    &--first,
    &--second,
    &--third,
    &--fourth {
      justify-self: center;
    }

    &--first {
      grid-column: 1;
      grid-row: 2;
    }
    &--second {
      grid-column: 1;
      grid-row: 4;
    }
    &--third {
      grid-column: 2;
      grid-row: 2;
    }
    &--fourth {
      grid-column: 2;
      grid-row: 4;
    }
  }

  &__text {
    &--first,
    &--second,
    &--third,
    &--fourth {
      justify-self: center;
    }
    &--first {
      grid-column: 1;
      grid-row: 3;
    }
    &--second {
      grid-column: 1;
      grid-row: 5;
    }
    &--third {
      grid-column: 2;
      grid-row: 3;
    }
    &--fourth {
      grid-column: 2;
      grid-row: 5;
    }
  }

  &__specifics {
    margin-left: 1rem;
    grid-column: 3/5;
    grid-row: 2/5;
  }
}
