.itinerary {
  &__container {
    & div:nth-child(7) {
      filter: blur(3px);
    }
    & div:nth-child(n + 8) {
      display: none;
    }

    &--show-more {
      & div:nth-child(n + 8) {
        display: grid;
      }
    }
  }

  &__single {
    display: grid;
    grid-template-columns: 28% 72%;
    grid-template-rows: 2rem 3rem 11rem;
    border: 1px solid $color-gray-light-2;
    grid-column-gap: 1.5rem;
    padding: 1rem;

    &-image {
      grid-column: 1;
      grid-row: 1/-1;
    }

    &-day {
      grid-column: 2;
      grid-row: 1;
      font-family: Nunito-Black;
      font-size: 1.4rem;
      color: $color-primary;
    }

    &-title {
      grid-column: 2;
      grid-row: 2;
      font-size: 1.8rem;
      color: $color-grey-dark-3;
      font-family: Nunito-Black;
    }

    &-paragraph {
      grid-column: 2;
      grid-row: 3;
      width: 98%;
      font-size: 1.4rem;
      color: $color-grey-dark-2;
    }
  }

  &__button {
    padding: 1rem 8rem;
    font-family: Nunito-Black;
    text-transform: uppercase;
    color: white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    transform: translateY(-10%);
    margin-top: 2rem;
  }
}
