.review {
  padding: 10rem 4rem;
  &__stars-box {
    display: flex;
    width: 12rem;
  }

  &__paragraph {
    font-size: 1.2rem;

    @include respond(tablet) {
      font-size: 1.6rem;
    }
  }

  &__author {
    @include bigCapitalText;
    color: $color-primary;
    font-size: 1.3rem;
  }

  @include respond(tablet) {
    padding: 2rem 2rem;
  }

  @include respond(phone) {
    padding: 0rem 4rem 4rem;
  }
}
