.facebook-reviews {
  width: 100%;
  padding: 7rem 7rem;

  @include respond(phone) {
    text-align: center;
    padding-top: 10rem;
  }

  @include respond(tablet) {
    margin-top: 0rem;
  }

  @include respond(laptop) {
    padding: 7rem 4rem;
  }

  &__rating {
    font-family: Nunito-Black;
    color: $color-primary;
    font-size: 8rem;
    padding-left: 1rem;
    &-decimal {
      font-size: 3rem;
    }

    @include respond(tablet) {
      padding-left: 2rem;
    }
  }

  &__stars-box {
    display: flex;
  }

  &__title {
    font-family: Nunito-Semibold;
    font-size: 1.5rem;
    padding-top: 1rem;
    // we create these inter-elements for further maintenance
    @include respond(phone) {
      padding-top: 2rem;
      font-size: 2rem;
    }
  }

  &__subtitle {
    font-family: Nunito-Regular;
    // we create these inter-elements for further maintenance
    font-size: 1.1rem;

    & + a {
      padding: 1.65rem 6.7rem;
      margin-top: 2.5rem;
      margin-left: -2.8rem;
    }

    @include respond(phone) {
      font-size: 1.2rem;
    }
  }
}
