.tour-banner {
  &__description {
    padding: 2rem;
    &-title {
      font-family: Nunito-Extrabold;
      font-size: 3rem;
      text-transform: capitalize;
      &-newzealand {
        color: $color-primary;
      }
      &-australia {
        color: $color-red;

        & + h4 {
          color: $color-red;
        }
      }

      @include respond(tablet) {
        font-size: 4.5rem;
      }

      @include respond(phone) {
        font-size: 4rem;
      }
    }

    &-subtitle {
      font-family: Nunito-Extrabold;
      font-size: 2rem;

      @include respond(phone) {
        color: $color-primary;
        font-family: Nunito-Semibold;
        font-size: 3rem;
      }

      @include respond(tablet) {
        font-size: 3rem;
      }

      &-departs {
        font-size: 1rem;
        padding-bottom: 1rem;
        @include greySubtitle;

        @include respond(phone) {
          font-size: 2rem;
          padding-top: 0.5rem;
          font-family: Nunito-Extrabold;
        }

        @include respond(tablet) {
          font-size: 1.5rem;
        }
      }
    }
    &-details {
      font-size: 1.4rem;
      padding-bottom: 0.5rem;

      @include respond(tablet) {
        font-size: 2rem;
      }

      @include respond(phone) {
        font-size: 2.2rem;
      }
    }
    &-price {
      font-family: Nunito-Extrabold;
      font-size: 1.5rem;
      &-newzealand {
        color: $color-primary;
      }
      &-australia {
        color: $color-red;
      }

      @include respond(tablet) {
        font-size: 2rem;
      }

      @include respond(phone) {
        font-size: 2.2rem;
      }
    }
    &-button-box {
      padding-top: 10.5rem;

      @include respond(tablet) {
        padding-top: 6rem;
        &:first-child {
          display: none;
        }
      }

      &:first-child a .btn .btn-green {
        padding: 1.2rem 5.5rem;
        display: none;
      }
    }
  }

  &__figure {
    position: relative;
    width: 60rem;

    &:nth-child(1) div {
      border-radius: 4px;
    }

    &-caption {
      position: absolute;
      top: 3%;
      left: 3%;
      text-transform: uppercase;
      font-family: Nunito-Black;
      color: $color-white;
      border-radius: 50%;
      height: 5rem;
      width: 5rem;
      text-align: center;
      font-size: 1.2rem;

      &-newzealand {
        background-color: $color-primary;
      }
      &-australia {
        background-color: $color-red;
      }

      @include respond(tablet) {
        padding: 0.5rem;
      }

      @include respond(phone) {
        padding: 0.5rem;
      }
    }

    @include respond(laptop) {
      width: 45rem;
      &:first-child div {
        height: 42rem;
      }
    }

    @include respond(tablet) {
      width: 70rem;
      margin-left: 4.9rem;

      &:first-child(1) div {
        border-radius: 6px;
      }
    }

    @include respond(phone) {
      width: 32rem;
    }
  }

  &__svg-map-container {
    &:nth-child(1) img {
      height: 38rem;
      padding-top: 2rem;
    }

    @include respond(tablet) {
      padding-top: 0 !important;
      &:nth-child(1) img {
        height: 48rem;
        padding-top: 2rem;
      }
    }
  }

  &__days {
    font-size: 1.7rem;
  }
}
