.banner-hero {
  height: 50rem;

  @include respond(laptop) {
    height: 47rem;
  }

  &__image {
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;
  }

  &-2 {
    height: 24rem;

    @include respond(phone) {
      height: 20.8rem;
    }
  }
  &__text-box {
    position: absolute;
    width: 80%;
    top: 19%;
    left: 3%;
    max-width: 35rem;
    display: grid;
    grid-template-rows: 10rem min-content 5rem;
    grid-row-gap: 2.4rem;

    @include respond(laptop) {
      width: 55%;
    }

    @include respond(tablet) {
      width: 85%;
      left: 5%;
    }

    &-2 {
      padding-top: 2.2rem !important;
      top: 4%;
      left: 2%;
      grid-template-rows: 11rem 7rem;
      grid-row-gap: 2rem;

      & > a {
        width: 22rem;
        height: 4.8rem;
      }

      @include respond(phone) {
        width: 95%;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 1.8rem !important;
      }
    }
  }

  &-heading {
    &--main {
      display: block;
      @extend .heading-2;
      line-height: 3.5rem;
      &-2 {
        padding-bottom: 0rem;
      }
    }
    &--sub {
      font-weight: 300;
      @extend .paragraph;
      @extend .paragraph--white;

      &-2 {
        font-size: 2.7rem;
      }
    }
  }

  &__button-box {
    & > a {
      padding: 1.45rem 5.47rem;
      font-size: 1.38rem;
    }
  }
}
