.highlight-box {
  display: grid;
  grid-template-columns: 21rem;
  grid-template-rows: repeat(3, min-content);
  border-radius: 4px;

  @include respond(laptop) {
    grid-template-columns: 19.4rem;
    border-radius: 5px;
    overflow: hidden;
  }

  @include respond(tablet) {
    grid-template-columns: 1fr;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid $color-gray-light-2;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
  }

  &__image {
    // width: 21rem;
    // height: 14rem;
    grid-row: 1;
    border-top-right-radius: 0.4rem;
    border-top-left-radius: 0.4rem;

    @include respond(laptop) {
    }

    @include respond(phone) {
      height: 22rem;
      width: 30rem;
    }
  }

  &__text {
    border: 1px solid $color-gray-light-2;
    padding: 1.5rem;

    @include respond(tablet) {
      border: 0px;
    }

    @include respond(phone) {
      border: 0px;
    }
  }

  &__title {
    grid-row: 2;
    @extend .heading-4;
    @extend .heading-4--darkGrey-capitalized;
    @extend .heading-4--black;
    padding-bottom: 0.5rem;

    @include respond(tablet) {
      font-size: 1.8rem;
    }
  }

  &__description {
    grid-row: 3;
    @extend .heading-4;
    @extend .heading-4--nRegular;
    @extend .heading-4--regular;
    @extend .heading-4--darkGrey;

    @include respond(tablet) {
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 22rem);
    grid-template-rows: repeat(2, min-content);
    grid-column-gap: 0.4rem;
    grid-row-gap: 2rem;

    @include respond(laptop) {
      grid-template-columns: repeat(4, 19.4rem);
      grid-template-rows: repeat(2, min-content);
      grid-column-gap: 1.6rem;
    }

    @include respond(tablet) {
      grid-template-columns: repeat(auto-fill, 34.2rem);
      grid-column-gap: 1.5rem;
    }

    @include respond(phone) {
      grid-template-columns: 1fr;
    }

    & > h2 {
      grid-row: 1;
      grid-column: 1/-1;
    }
  }
}
