.intro {
  text-align: center;
  margin-top: 8rem;
  display: flex;
  justify-content: center;

  @include respond(phone) {
    margin-top: 4.8rem;
    border-bottom: 4.8rem solid $color-gray-light-2;
    padding-bottom: 4.8rem;
  }

  &__title {
    @extend .heading-2;
    @extend .heading-2--darkGrey;
    line-height: 3rem;

    &--ms {
      @extend .heading-2--ms;
    }

    &--wk {
      @extend .heading-2--wk;
    }

    &--yg {
      @extend .heading-2--yg;
    }
  }

  &__description {
    @extend .paragraph;
    max-width: 77rem;
    padding-top: 1.6rem;
  }
}
