.logo-rating {
  &__icon {
  }

  &__title {
    &--yg {
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto;
  }

  &__stats {
    text-align: center;
    margin-top: 4.8rem;
  }
}
