.logo-rating {
  display: grid;
  grid-template-rows: 9rem 8rem 6rem;
  align-items: center;
  justify-content: center;
  text-align: center;

  & > a {
    justify-self: center;
  }

  &__icon {
    height: 100%;
    width: 100%;
  }

  &__title {
    &--yg {
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 87%;
    margin: 0 auto;
    margin-top: 4.8rem;
  }

  &__stats {
    text-align: center;
    margin-top: 4.8rem;
  }

  &__fact {
    font-size: 1.8rem;
    color: $color-grey-dark;
  }
}
