.review {
  @include respond(phone) {
    padding: 0rem 1rem 1rem;
    margin-top: 4rem;
  }

  &__navigation {
  }

  &__page-count {
    position: relative;
    width: 31%;

    &:after {
      content: "";
      width: 0.7rem;
      height: 0.7rem;
      border-left: 2px solid #5d5d5d;
      border-bottom: 2px solid #5d5d5d;
      transform: rotate(-45deg);
      display: inline-block;
      margin-left: -5.3rem;
      margin-bottom: 0.15rem;
    }
  }

  &__dropdown {
    appearance: none;
    border: none;
    font-weight: 700;
    padding: 0.5ch 3ch 0.5ch 1ch;
    background: $color-gray-light-2;
    margin: 0 0.5rem;

    &-wrapper {
      width: 50%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > ul {
        display: flex;
        list-style: none;

        & > li {
          padding-right: 1.6rem;
          font-size: 1.6rem;
          border: 1px solid gray;
          border-radius: 50%;
          position: relative;
          height: 4rem;
          width: 4rem;
          background: white;
          margin-right: 1.6rem;
          opacity: 31%;

          & > a {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
          }
        }
      }

      @include respond(tablet) {
        width: 80%;
      }

      @include respond(phone) {
        width: 80%;
      }
    }
  }

  &__card {
    background: white;
    display: grid;
    position: relative;
    width: 50%;
    margin: 2.4rem auto;
    padding: 2.4rem;
    grid-row-gap: 0.8rem;
    border-radius: 0.4rem;

    @include respond(tablet) {
      width: 80%;
    }

    @include respond(phone) {
      width: 80%;
    }
  }

  &__description {
    @extend .paragraph;
  }

  &__icon {
    justify-self: end;
  }

  &__board {
    background: $color-gray-light-1;
    padding: 2.4rem;
  }

  &__stars-box {
    display: flex;
    width: 3rem;
  }

  &__paragraph {
    @extend .paragraph;

    @include respond(tablet) {
      font-size: 1.6rem;
    }

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }

  &__author {
    //TODO: extends overrudubg
    //remove default @extend .heading-4--green;
    @extend .heading-4;
    @extend .heading-4--black;
    @extend .heading-4--capitalized;

    //TODO: remove color primary
    @include respond(phone) {
      @include bigCapitalText;
      font-size: 1.6rem;
    }

    &--yg {
      @extend .heading-4--yg;
      //wordaround
      color: $color-yg-blue !important;
      @include respond(phone) {
        color: $color-yg-blue !important;
      }
    }

    &--wk {
      @extend .heading-4--wk;
      color: $color-wk-green !important;
      @include respond(phone) {
        color: $color-wk-green !important;
      }
    }

    &--ms {
      @extend .heading-4--ms;
      color: $color-med-teal !important;
      @include respond(phone) {
        color: $color-med-teal !important;
      }
    }
  }
}

// .previous {
//   display: none !important;
// }
