.tour-banner {
  &__container {
    display: grid;
    grid-template-columns: 25% 50% 25%;

    @include respond(tablet) {
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;
    }

    & > div:nth-child(2) {
      @include respond(tablet) {
        grid-column: 1/3;
        grid-row: 1;
      }
    }

    & > div:nth-child(3) {
      display: flex;
    }
  }

  &__description {
    padding: 2rem 2rem 0 2rem;

    @include respond(tablet) {
      padding: 4rem 2rem 0 2rem;
    }

    &-title {
      @extend .heading-2;
      @extend .heading-2--extraBold;
      @extend .heading-2--darkGrey;

      @include respond(tablet) {
        font-size: 3.1rem;
      }

      @include respond(phone) {
        font-family: Nunito-Black;
        line-height: 3rem;
      }

      &--yg {
        @extend .heading-2;
        @extend .heading-2--extraBold;
        @extend .heading-2--yg;
      }

      &--wk {
        @extend .heading-2;
        @extend .heading-2--extraBold;
        @extend .heading-2--wk;
      }
    }

    &-subtitle {
      @extend .paragraph;
      @extend .paragraph--extraBold;
      color: $color-grey-dark-3;

      @include respond(tablet) {
        font-size: 2rem;
      }

      &-departs {
        @extend .heading-3;
        @extend .heading-3--extraBold;
        color: $color-grey-dark !important;

        @include respond(tablet) {
          font-size: 2rem;
        }
      }
    }
    &-details {
      @extend .paragraph;
      padding-bottom: 0.5rem;

      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
    &-price {
      @extend .paragraph;
      @extend .paragraph--extraBold;

      @include respond(tablet) {
        font-size: 2rem;
      }

      &--wk {
        color: $color-wk-green;
      }

      &--yg {
        color: $color-yg-blue;
      }

      &-ms {
        color: $color-med-teal;
      }
    }
    &-button-box {
      padding-top: 2.2rem;

      @include respond(laptop) {
        padding-top: 4.5rem;
      }

      @include respond(tablet) {
        padding-top: 3rem;
        padding-bottom: 1rem;
        &:first-child {
          display: none;
        }
      }

      & > a {
        font-size: 1.38rem;
        width: 22rem;
        height: 4.8rem;

        @include respond(tablet) {
          display: flex;
          justify-content: center;
          text-align: center;
        }
      }

      &:first-child a .btn .btn-green {
        padding: 1.2rem 5.5rem;
        display: none;
      }
    }

    &--inCountry {
      padding: 2rem 1rem 0 1rem;
    }
  }

  &__figure {
    position: relative;

    @include respond(tablet) {
      &:first-child(1) div {
        border-radius: 6px;
      }
    }

    @include respond(phone) {
      width: 32rem;
    }

    &-caption {
      position: absolute;
      top: 4%;
      left: 3%;
      text-transform: uppercase;
      font-family: Nunito-Black;
      color: $color-white;
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      text-align: center;
      font-size: 1.2rem;
      background-color: $color-primary;

      &--yg {
        background-color: $color-yg-blue;
      }

      &--ms {
        background-color: $color-med-teal;
      }

      @include respond(tablet) {
        font-size: 1.3rem;
      }
    }

    & > .gatsby-image-wrapper {
      height: 100%;

      @include respond(phone) {
        height: 100%;
        border-radius: 3px;
      }
    }
  }

  &__svg-map-container {
    display: flex;
    &:nth-child(1) img {
      width: 100%;
      height: 100%;
      @include respond(tablet) {
        border-left: 1px solid #e7e7e7;
      }
    }

    &--newzealand {
      & > img {
        @include respond(laptop) {
          width: 33rem;
        }
      }
    }

    &--australia {
      & > img {
        @include respond(laptop) {
          width: 29.9rem;
          margin-top: 2rem;
        }

        @include respond(phone) {
          width: 33rem;
          margin-left: 0;
        }
      }
    }

    &--europe {
      @include respond(tablet) {
        height: 100%;
      }

      & > img {
        @include respond(laptop) {
          width: 29.7rem;
          height: 41rem;
          margin-top: 0.1px;
        }

        @include respond(phone) {
          width: 46.5rem;
        }
      }
    }
  }

  &__days {
    font-size: 2.5rem;
    display: block;
    height: 2.6rem;
    margin-top: 0.6rem;
  }
}
