.tablet {
  &-green-button {
    @include respond(tablet) {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #fff;
      padding: 1.2rem 7.4rem;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: Nunito-Extrabold;
      font-size: 1.5rem;
    }
  }
  &-red-button {
    @include respond(tablet) {
      display: inline-block;
      position: relative;
      text-decoration: none;
      color: #fff;
      padding: 2rem 3rem;
      font-size: 2rem;
      text-transform: uppercase;
      font-family: Nunito-Extrabold;
      font-size: 1.5rem;
    }
  }

  &-margin-left-negative-normal {
    @include respond(tablet) {
      margin-left: -5rem;
    }
  }

  &-margin-right-no {
    @include respond(tablet) {
      margin-right: 0 !important;
    }
  }

  &-padding-top-medium {
    @include respond(tablet) {
      padding-top: 5rem;
    }
  }

  &-no {
    @include respond(tablet) {
      display: none;
    }
  }

  &-yes {
    @include respond(desktop) {
      display: none;
    }
    @include respond(laptop) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &-margin-left {
    @include respond(tablet) {
      margin-left: 33rem;
    }
  }

  &-max-width {
    @include respond(tablet) {
      max-width: 20rem;
    }
  }

  &-padding-left-medium {
    @include respond(tablet) {
      padding-left: 4rem;
    }
  }

  &-margin-left-medium {
    @include respond(tablet) {
      margin-left: 4rem;
    }
  }

  &-button {
    &__chartered-landing {
      @include respond(phone) {
        display: none;
      }

      @include respond(tablet) {
        position: absolute;
        bottom: 2%;
        right: 2%;
      }

      @include respond(laptop) {
        display: none;
      }

      @include respond(desk) {
        display: none;
      }
    }
  }
}
