.header {
  /* 95% of the user's view port */
  height: 60rem;
  background-size: cover;
  background-position: top;
  position: relative;
  max-width: 126.666rem;
  margin: 0 auto;

  &__logo-box {
    position: fixed;
    left: 15%;

    @include respond(laptop) {
      left: 5%;
    }

    @include respond(tablet) {
      left: 15%;
      top: 1rem;
    }

    @include respond(phone) {
      left: 5%;
    }
  }

  &__logo {
    height: 3.5rem;

    &-literal {
      @include respond(phone) {
        width: 10rem !important;
      }
    }
  }

  &__nav-button {
    position: fixed;
    top: 1.3rem;
    right: 0;

    &-box-link {
      text-decoration: none;
    }

    @include respond(phone) {
      right: 0rem;
      top: -2px;
    }

    @include respond(laptop) {
      right: 8%;
    }

    @include respond(tablet) {
      right: 12%;
    }
  }

  &-low-height {
    height: 50vh;
  }

  &__text-box {
    position: absolute;
    top: 35%;

    @include respond(laptop) {
      left: 6%;
    }

    @include respond(tablet) {
      left: 11rem;
    }

    @include respond(phone) {
      top: 20%;
      left: 6%;
    }
  }

  &__button-box {
    margin-top: 7.5rem;
    text-align: left;

    & a:nth-child(1) {
      display: block;
      margin: 4.5rem 0 1.4rem 0;
      width: 45%;

      @include respond(phone) {
        margin: 0 auto;
        width: 97%;
      }
    }
    & a:nth-child(2) {
      display: block;
      width: 45%;
    }

    @include respond(phone) {
      text-align: center;
      margin-top: 9rem;
      & a:nth-child(2) {
        display: none;
        font-size: 1rem;
      }
    }
  }

  @include respond(laptop) {
    max-width: 112.666rem;
  }

  @include respond(phone) {
    height: 40rem;
    max-width: 32rem;
  }
}
