.header {
  /* 95% of the user's view port */
  height: 80rem;
  background-size: cover;
  background-position: top;
  position: relative;

  &__logo-box {
    position: fixed;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__nav-button {
    position: fixed;
    top: 3rem;
    right: 4rem;

    &-box-link {
      text-decoration: none;
    }

    @include respond(tablet) {
      right: 2rem;
    }

    @include respond(phone) {
      right: 2rem;
    }
  }

  &-low-height {
    height: 50vh;
  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 3%;

    @include respond(phone) {
      top: 20%;
    }
  }

  &__button-box {
    padding: 0.8rem 0rem;
    text-align: left;
    width: 50%;

    @include respond(tablet) {
      width: 100%;
    }

    @include respond(phone) {
      text-align: center;
      width: 100%;
      padding-top: 20rem;
    }
  }
}
