.navigation {
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 4rem;
    height: 12rem;
    transition: all 0.6s ease-in;
    padding-left: 16.5rem;
    &--dark {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      padding: 4rem;
      height: 12rem;
      background: black;
      transition: all 0.6s ease-in;
      padding-left: 18rem;
    }
  }
  &__list {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;

    @include respond(phone) {
      width: 40%;
    }
  }

  &__item {
    margin: 1rem;
    float: left;

    @include respond(phone) {
      float: none;
      visibility: hidden;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1.3rem;
      font-family: Nunito-SemiBold;
      padding: 1rem 0.5rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;

      @include respond(phone) {
        display: block;
      }
    }
  }

  &__logo {
    margin-top: -1rem;
  }

  &__icon {
    color: $color-white;
  }

  &__dark {
    background-color: black;
  }
}
