.navigation {
  &__nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 100%;
    padding: 1.2rem;
    height: 6.666667rem;
    transition: all 0.6s ease-in;
    max-width: 126.666rem;

    @include respond(tablet) {
      &:not(:last-child) {
        visibility: hidden;
      }
    }

    @include respond(laptop) {
      padding-left: 8rem;
      max-width: 112.666rem;
    }
  }
  &__list {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;

    @include respond(phone) {
      width: 40%;
    }
  }

  &__item {
    margin: 1rem;
    float: left;

    @include respond(tablet) {
      float: none;
      visibility: hidden;
    }

    @include respond(phone) {
      float: none;
      visibility: hidden;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1rem;
      font-family: Nunito-Black;
      padding: 1rem 0.5rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include respond(tablet) {
        font-size: 1.1rem;
      }

      @include respond(phone) {
        display: block;
      }
    }
  }

  &__logo {
    margin-top: -1rem;
  }

  &__icon {
    color: $color-white;
  }

  &__dark {
    background-color: black;

    @include respond(tablet) {
      padding: 0.5rem 0;
    }
  }

  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1.2rem;
    height: 6.666667rem;
    max-width: 87.25rem;

    &__list {
      width: 100%;
      text-align: center;
      list-style: none;
      margin-left: 12%;

      &:nth-child(1) i {
        padding-left: 1.5rem;
        padding-top: 1rem;

        @include respond(phone) {
          padding-top: 0rem;
        }
      }

      @include respond(phone) {
        margin-left: 0;
      }
    }

    &__item {
      float: left;
    }

    &__logo {
      @include respond(tablet) {
        float: left;
      }
      @include respond(phone) {
        float: left;
        & > div:nth-of-type(1) {
          width: 8rem !important;
        }
      }
    }

    @include respond(desk) {
      display: none;
    }

    @include respond(laptop) {
      display: none;
    }
  }
}
