.navigation {
  max-width: 87.25rem;
  &__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    padding: 1.2rem;
    height: 6.666667rem;
    transition: all 0.6s ease-in;
    padding-left: 28%;

    @include respond(laptop) {
      padding-left: 18%;
    }

    @include respond(tablet) {
      padding-left: 17%;
    }

    &--dark {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
      padding: 1.2rem;
      height: 6.666667rem;
      background: black;
      transition: all 0.6s ease-in;
      padding-left: 28%;

      @include respond(laptop) {
        padding-left: 18%;
      }

      @include respond(tablet) {
        padding-left: 17%;
      }
    }
  }
  &__list {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    list-style: none;

    @include respond(phone) {
      width: 40%;
    }
  }

  &__item {
    margin: 1rem;
    float: left;

    @include respond(tablet) {
      float: none;
      visibility: hidden;
    }

    @include respond(phone) {
      float: none;
      visibility: hidden;
    }
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 1rem;
      font-family: Nunito-Black;
      padding: 1rem 0.5rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;

      @include respond(tablet) {
        font-size: 1.1rem;
      }

      @include respond(phone) {
        display: block;
      }
    }
  }

  &__logo {
    margin-top: -1rem;
  }

  &__icon {
    color: $color-white;
  }

  &__dark {
    background-color: black;

    @include respond(tablet) {
      padding: 0.5rem 0;
    }
  }
}
