@font-face {
  font-family: "Nexa-Rust-2";
  src: url("../fonts/NexaRustSans-Black2.eot");
  src: url("../fonts/NexaRustSans-Black2.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/NexaRustSans-Black2.woff") format("woff"),
    url("../fonts/NexaRustSans-Black2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
