/* this is for cross-browser compatibility, some browsers add default margin, padding */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* the perfect root size 10 divided by 16, it will be used to define what 1rem is*/
  font-size: 62.5%;
  font-family: Nunito-Regular;
  overflow-x: hidden;

  @include respond(tablet) {
    // width < 1024?
    font-size: 56.25%;
  }
  @include respond(phone) {
    // width < 768?
    font-size: 35%;
  }
  @include respond(desk) {
    // width > 1025 ?
    font-size: 75%;
  }
}

/* making use of inheritance */
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
