.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  @include bigUppercaseText;

  &--main {
    display: block;
    font-size: 5.5rem;
    animation: moveInleft 0.8s ease-out;
    font-family: Nexa-Rust-2;
    line-height: 5rem;

    @include respond(phone) {
      font-size: 3.8rem;
      line-height: 3.5rem;
    }
  }

  &--sub {
    font-size: 1.6rem;
    font-family: Nexa-Rust-2;
    animation: moveInleft 2s ease-out;

    @include respond(phone) {
      font-size: 2rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
}

.heading-tertiary {
  @include tertiaryHeading;

  &--white {
    color: $color-white;

    @include respond(phone) {
      color: #fff;
      padding: 6rem;
      font-family: nexa-rust;
      font-size: 6rem;
    }
  }

  &--inline {
    display: inline;

    @include respond(phone) {
      font-family: Nexa-Rust;
      display: block;
      padding-top: 4rem;
      height: 5rem;
      padding-bottom: 10rem;
    }
  }
}
