.heading-primary {
  color: $color-white;
  backface-visibility: hidden;
  margin-bottom: 1rem;
  @include bigUppercaseText;

  &--main {
    display: block;
    font-size: 9rem;
    animation: moveInleft 0.8s ease-out;
    line-height: 10rem;
  }

  &--sub {
    animation: moveInleft 2s ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
}

.heading-tertiary {
  @include tertiaryHeading;

  &--white {
    color: $color-white;
  }

  &--inline {
    display: inline;
  }
}
